body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#resultTable, #alphaResultTable, #VariansTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#resultTable th, #resultTable td, #alphaResultTable th, #alphaResultTable td, #VariansTable th , #VariansTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#resultTable th, #alphaResultTable th , #VariansTable th{
    background-color: #4caf50;
    color: white;
}

#resultTable tr:nth-child(even), #alphaResultTable tr:nth-child(even), #VariansTable tr:nth-child(even){
    background-color: #f2f2f2;
}

#distributionTable {
    margin-top: 20px;
}

#distributionTable select {
    padding: 8px;
    margin-right: 10px;
}

#distributionTable button {
    background-color: #4caf50;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#distributionTable button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

